{% extends "_base.html" %}

{% block pageContent %}

    <h1>Address</h1>

    <table border="1">
        <tr>
            <th>id</th>
            <th>Street</th>
            <th>City</th>
            <th>DELETE</th>
        </tr>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.city }}</td>
                <td><a href="/address-delete/{{address.id}}">X</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block pageFooter %}
<p>End of welcome page.</p>
{% endblock %}
